{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}

<form action="" method="post">
    Ad<br>
    <input type="text" name="ad"><br>
    Soyad<br>
    <input type="text" name="soyad"><br>
    <input type="button" value="Kaydet"/>
</form>

{% endblock %}